In [3]:
from IPython.display import display
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [4]:
# read dataset 
df = pd.read_excel('Diabetes-classification.xlsx', sheet_name ='Emotions')
# Preparing dataset
X = df.loc[:,'discussion_text']# the features we want to analyze
ylabels = df.loc[:,'Label']# the labels, or answers, we want to test against

# removes all duplicates from list 
Labels = list(dict.fromkeys(ylabels)) 
print(Labels)

X_train, X_test, y_train, y_test = train_test_split(X, ylabels, test_size=0.3)

['Trust', 'Disgust', 'Anticipation', 'Sadness', 'Anger', 'Fear', 'Joy', 'Surprise']

In [5]:
# Display info about dataset distribution of classes 
print("train")
arr = pd.DataFrame(np.unique(np.array(y_train), return_counts=True))
display(arr)

print("test")
arr2 = pd.DataFrame(np.unique(np.array(y_test), return_counts=True))
display(arr2)

train

       0             1        2     3    4        5         6      7
0  Anger  Anticipation  Disgust  Fear  Joy  Sadness  Surprise  Trust
1     56           646      200    87  201      247       100    833

test

       0             1        2     3    4        5         6      7
0  Anger  Anticipation  Disgust  Fear  Joy  Sadness  Surprise  Trust
1     29           282       93    42   78      110        56    326